body{
    padding: 0;
    margin: 0;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(134, 130, 134, 0.815);

}
img{
    width: 300px;
}

.clearance {
    margin-top: 100px;
}
#header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
#nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}
#nav-bar ul li{
    padding: 10px 30px;

}
a{
    text-decoration: none;
    line-height: 30px;
    color: black;
}
#prices{
    margin-bottom: 50px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 30px; */

}

#prices div{
    width: 200px;
    border: 2px solid black;
    margin: 0 20px;
    text-align: center;
}

#prices div h1{
    font-size: 20px;
    background-color: white;
    margin-top: 0;
    padding: 10px 0;
}

#prices div ul li {
    list-style: none;
    
}
#prices div ul {
    margin: 0;
    padding: 0;
}

.button{
    padding: 10px 20px;
    margin: 16px 0;
    background-color: tomato;
    border: none
}

#video{
    width: 50%;
    background-color: wheat;
    margin: 30px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 20px;

}
#email {
    width: 300px;
    line-height: 30px;
    margin: 10px 0;
}
#submit {
    padding: 8px 35px;
    background-color: tomato;
    border: none;
}
#container1{
    width: 70%;
}

.dbr {
    border-radius: 5px;
}

@media (max-width: 500px) {
    .clearance {
        margin-top: 250px;
        text-align: center;
    }

    #prices {
        flex-direction: column;
    }

    #prices div{
        margin: 20px 0;
    }
}